{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="{% static 'utilisateur/css/login.css' %}">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{% static 'images/logo.png' %}" class="logo">

                {% if message %}
                <div class="alert alert-danger">{{ message }}</div>
                {% endif %}

                <form method="post" action="{% url 'login' %}" class="formulaire">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">it</label>
                        <input type="text" name="it" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Mot de passe</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                        Se connecter
                    </button>
                    <a class="register" href="{%url 'register' %}">
                        register
                    </a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>